body {
    background-color: white;
}
nav {
    height: 40px;
    background-color: #43A5F4;
    font-family: 'Courier New';
    display: flex;
    padding-top: 12px;
    justify-content: space-around;
    font-size: x-large;
}
.item:hover {
    opacity: .5;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#me {
    display: flex;
    width: 800px;
    justify-content: center;
}
#backgroundinfo {
    font-family: 'Courier New';
    font-weight: bolder;
    font-size: 23px;
    padding-left: 200px;
    padding-right: 25px;
}
#parent {
    padding-top: 20px;
    display: flex;
}
#footer {
    padding: 10px;
    color: white;
    font-size: large;
    background-color: #43A5F4;
    position: fixed;
    bottom: 0;
    width: 98%;
}