body {
    background-color: white;
    height: 100%;
}
nav {
    height: 40px;
    background-color: #43A5F4;
    font-family: 'Courier New';
    display: flex;
    padding-top: 12px;
    justify-content: space-around;
    font-size: x-large;
}
.item:hover {
    opacity: .5;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#footer {
    padding: 10px;
    color: white;
    font-size: large;
    background-color: #43A5F4;
    position: fixed;
    bottom: 0;
    width: 98%;
}